:root {
  --ff-login: 'Montserrat', sans-serif;
  --box: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
  --bg-create: linear-gradient(-45deg, #e08106, #fbcd4f);
  --border: #ffab10;
  --btn-login: linear-gradient(45deg, #93d53d, #7bb72d);
  --bg-facebook: #3b5999;
  --bg-twitter: #55acee;
  --bg-google: #dd4b39;
  --bg-behance: #131418;
  --bg-facebook-light: #355089;
  --bg-twitter-light: #4c9ad6;
  --bg-google-light: #c64333;
  --bg-behance-light: #111216;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: var(--ff-login);
}

img {
  width: 100%;
}

h2 {
  text-transform: capitalize;
  font-size: 2rem;
}

p {
  opacity: 0.7;
}

a {
  text-decoration: none;
  color: #000;
}

.bg-fb {
  background: var(--bg-facebook);
}
.bg-fb-light {
  background: var(--bg-facebook-light);
}

.bg-tw {
  background: var(--bg-twitter);
}
.bg-tw-light {
  background: var(--bg-twitter-light);
}

.bg-g {
  background: var(--bg-google);
}
.bg-g-light {
  background: var(--bg-google-light);
}

.bg-be {
  background: var(--bg-behance);
}
.bg-be-light {
  background: var(--bg-behance-light);
}

/* containers */
.container {
  height: 100vh;
  overflow: hidden;
  background-image: url(../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container {
  padding: 50px 0;
  margin: 0 auto;
}

/* form box */
.form-box {
  height: 400px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: var(--box);
  border-radius: 10px;
}

/* create account section */
.create-account-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background: var(--bg-create);
  color: #fff;
}

.create {
  width: 90%;
  margin: 0 auto;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.item {
  border-radius: 4px;
  width: 80%;
  margin: 10px auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item i {
  width: 20%;
  padding: 10px;
}

.item a {
  text-transform: capitalize;
  color: #fff;
  width: 80%;
  text-align: left;
  margin: 0 auto 0 10px;
}

/* sign in section */
.sign-in-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  box-shadow: 0 0 20px #999;
  background-color: #fff;
}

.input-containers {
  width: 80%;
  margin: 0 auto;
}

.welcome {
  width: 80%;
  margin: 0 auto;
}

.welcome h2 {
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: left;
}

/* form */
.formlogin {
  width: 100%;
  margin: 0 auto;
}

/* form inputs */
.form-inputs {
  margin: 0 auto;
}

.input-field {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border: 1px solid var(--border);
  margin: 10px auto;
}

/* input */
.user-input {
  border: none;
  font-size: 0.9rem;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-input::placeholder {
  opacity: 0.5;
  font-weight: bold;
}

.user-input:focus {
  outline: none;
  border: none;
}

/* icon */
i.fas {
  padding: 10px;
  margin: auto;
  opacity: 0.3;
}

/* form actios */
.form-actions {
  text-align: center;
  width: 100%;
}

.btn {
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
  margin: 10px auto;
  cursor: pointer;
}

.btn-submit {
  border-radius: 10px;
  font-size: 1.1rem;
  width: 100%;
  border: none;
  background: var(--btn-login);
  transition: all .2s ease;
  box-shadow: 0 2px 2px #999;
}

@media (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 991px) {
  .form-container {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .form-container {
    width: 70%;
  }
}
